.header-container {
    height: 10vh;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon-style {
    color: white;
    font-size: 32px;
}

.update-profile-heading {
    color: white;
}

.tab-styling {
    list-style-type: none;
    cursor: pointer;
    font-size: 32px;
}